<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636502055548-s42sde37kc2q85l6v9ja4ia8cvkd2ord.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636502055548-s42sde37kc2q85l6v9ja4ia8cvkd2ord</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>636502055548-sg396d1ng74mkteasabbrkdl0alr1hva.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHKXgdJJEZ5BPWYpLHMf46DVoTGvQLIwM</string>
	<key>GCM_SENDER_ID</key>
	<string>636502055548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatOnline</string>
	<key>PROJECT_ID</key>
	<string>chatonlineflutter-6a38b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatonlineflutter-6a38b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636502055548:ios:f9fb2b4276e8ba11</string>
	<key>DATABASE_URL</key>
	<string>https://chatonlineflutter-6a38b.firebaseio.com</string>
</dict>
</plist>